.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
    float: left;
}

.App-header {
    display: flex;
    background-color: #1D428A;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 40px;
}